[submodule "mAP"]
	path = mAP
	url = https://github.com/Cartucho/mAP
[submodule "OI_scraper"]
	path = OI_scraper
	url = https://github.com/EscVM/OIDv4_ToolKit.git
[submodule "AB_darknet"]
	path = AB_darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "darknet"]
	path = darknet
	url = https://github.com/pjreddie/darknet
[submodule "megadetector/CameraTraps"]
	path = megadetector/CameraTraps
	url = https://github.com/microsoft/CameraTraps
