# Data files #
################
*.jpg
*.jpeg
*.png
*.mov
*.avi
*.MOV
*.mp4
*.txt

# Weights files #
#################
*.weights
*.backup

# Other git repos #
AB_darknet/
darknet/
megadetector/CameraTraps/
